# Python Caches & Virtual Environments
__pycache__/
*.py[cod]
venv/
.venv/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Datasets Folder (large raw data files)
datasets/*
!datasets/.gitkeep


# Uploaded User Files
uploads/*
!uploads/.gitkeep

# Node.js & React Builds
node_modules/
frontend/build/
build/

# Database Files
*.db
*.sqlite

# OS & IDE Caches
.vscode/
.idea/
.DS_Store
Thumbs.db
